<H1>PART 1</H1>

In [25]:
# Importing libraries
import pandas as pd

In [26]:
# Reading wikipedia html page and creating a dataframe 
# Since wikipeida is constanlty being updated, 
# I am using an older version of the page where Neighborhoods have not being combined and seperated by commas.
link_old_version = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641'
df = pd.read_html(link_old_version)[0] #pandas.read_html() reads tables in a .html and returns a list of dataframes
# df.head()

In [27]:
# Changing the column name from 'Postcode' to 'Postal Code' for merging in Part 2
df.rename(columns={'Postcode': 'Postal Code'}, inplace=True)

# Creating a new dataframe using the rows which are not having a Borough value 'Not assigned' 
df_clean = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
# df_clean.head()

In [28]:
# Replacing the 'Not assigned' cells in Neighbourhood (if any) to the name of its Borough
for index, row in df_clean.iterrows(): 
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']
# df_clean.head()

In [29]:
# Combining similar Postal Codes and joining the Neighbourhood names using a comma
df_combined = df_clean.groupby(['Postal Code', 'Borough'])['Neighbourhood'].agg(', '.join).reset_index()
# df_combined.head()

In [30]:
print('The dataframe has {} boroughs with neighbourhoods under {} postal codes.'.format(
        len(df_combined['Borough'].unique()),
        df_combined.shape[0]
    )
)

The dataframe has 11 boroughs with neighbourhoods under 103 postal codes.

__End of Part 1__

<H1>PART 2</H1>

In [31]:
# Creating a dataframe using the coordinate data 
df_coordinates = pd.read_csv('http://cocl.us/Geospatial_data')
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [32]:
# Merging the two dataframes using the Postal Code column as the key and creating a new dataframe
df_merged = pd.merge(df_combined, df_coordinates, on='Postal Code')
df_merged.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

__End of Part 2__