<H1>PART 1</H1>

In [193]:
# Importing libraries
import pandas as pd

In [213]:
# Reading wikipedia html page and creating a dataframe 
# Since wikipeida is constanlty being updated, 
# I am using an older version of the page where Neighborhoods have not being combined and seperated by commas.
link_old_version = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641'
df = pd.read_html(link_old_version)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [215]:
# Changing the column name from 'Postcode' to 'Postal Code'
df.rename(columns={'Postcode': 'Postal Code'}, inplace=True)

# Creating a new dataframe using the rows which are not having a Borough value 'Not assigned' 
df_clean = df[df['Borough'] != 'Not assigned'].reset_index(drop=True)
df_clean.head()

  Postal Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

In [216]:
# Replacing the 'Not assigned' cells in Neighbourhood (if any) to the name of its Borough
for index, row in df_clean.iterrows(): 
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']
# df_clean.head()

In [217]:
# Combining similar Postal Codes and joining the Neighbourhood names using a comma
df_combined = df_clean.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_combined.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [218]:
df_combined.shape

(103, 3)

__End of Part 1__

<H1>PART 2</H1>

In [219]:
# Creating a dataframe using the coordinate data 
df_coordinates = pd.read_csv('http://cocl.us/Geospatial_data')
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [220]:
# Merging the two dataframes using the Postal Code column as the key and creating a new dataframe
df_merged = pd.merge(df_combined, df_coordinates, on='Postal Code')
df_merged.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

__End of Part 2__

<H1>PART 3</H1>

In [1]:
print('hey')

hey